.bloques-estilo-1 {
    h1,
    h2 {
        font-weight: bold !important;
    }
    h3 {
        font-size: 1.25rem;
        text-decoration: underline;
    }
    a,
    a:link,
    a:visited {
        span {
            text-decoration: underline;
            color: #004f71;
        }
    }
    a:focus,
    a:hover {
        outline: solid 2px #004f71 !important;
        text-decoration: underline !important;
    }
    h2,
    p,
    h5,
    h1,
    h3 {
        color: #004f71 !important;
    }
}
.bloque-texto-dark {
    color: rgb(8, 7, 7) !important;
}
.bloques_experiencias {
    .card {
        border: solid 2px#004F71 !important;
    }
    h2 {
        font-size: 1.5rem;
        color: #004f71 !important;
        font-weight: bold !important;
    }
    a:focus,
    a:hover {
        outline: solid 2px #004f71 !important;
        text-decoration: underline !important;
    }
}

.bloques-estilo-2 {
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h1,
    h2,
    h5,
    .titulo {
        font-weight: bold !important;
    }
    a:focus,
    a:hover {
        outline: solid 2px #004f71 !important;
        text-decoration: underline !important;
    }
    .titulo {
        color: #004f71 !important;
        font-size: 1.2rem;
    }
    h3,
    p,
    h5 {
        color: #004f71 !important;
    }

    .docRec {
        background-color: #e35205 !important;
        h2,
        h3,
        p,
        h5 {
            color: #fff !important;
        }
        a {
            text-decoration: underline !important;
        }
    }
    #referencia {
        background-color: #5bc2e7 !important;

        h5 {
            color: #004f71 !important;
        }
        a {
            color: rgb(8, 7, 7) !important;
            text-decoration: underline !important;
        }
    }
}
.bloques-estilo-3 {
    h1,
    h2 {
        font-weight: bold;
        color: #004f71 !important;
    }
    h2 {
        color: #004f71 !important;
        font-size: 1.2rem;
    }
    a:focus,
    a:hover {
        outline: solid 2px #004f71 !important;
        text-decoration: underline !important;
    }
    .card {
        background: unset !important;
        border: 0;
        h5 {
            color: #004f71 !important;
            font-size: 1.25rem;
            font-weight: bold !important;
        }
        p {
            color: #004f71 !important;
            border-bottom: solid 2px #004f71;
        }
    }
}

@media screen and (min-width: 768px) {
    .bloques-estilo-3 {
        h2 {
            font-size: 2rem;
        }
    }
}
@media screen and (min-width: 992px) {
    .bloques-estilo-2 {
        .docRec {
            color: #fff !important;
            background-color: #e35205 !important;

            .border-dr {
                border-bottom: unset !important;
                border-right: solid 2px #fff !important;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .bloques-estilo-3 {
        h2 {
            font-size: 3rem;
        }
    }
}
