* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Nunito";
}
html {
    scroll-behavior: smooth;
}
.text-bold {
    font-weight: bold !important;
}
.bg-primary {
    background-color: #1b74af !important;
}
.text-primary {
    color: #1b74af !important;
}
.bg-dark {
    background-color: rgb(0, 0, 0) !important;
    .breadcrumb-item + .active {
        color: #fafafa !important;
    }
    .estilo-1 p {
        color: #fafafa !important;
    }
    .noticias-1 {
        background-color: #000000 !important;
    }
    .bg-light {
        background-color: #0e0e0e !important;
    }
}
#main {
    padding: 0 !important;
}
.btn-purple {
    color: #fff !important;
    background-color: #6a2a5b;
    border-color: #6a2a5b;
    font-weight: bold;
    text-decoration: none !important;
}
.btn-purple:hover {
    color: #fff;
    background-color: #9010bc !important;
    border-color: #9010bc !important;
    text-decoration: none !important;
    outline: solid 2px #004f71 !important;
}
.btn-purple:focus {
    outline: solid 2px #004f71 !important;
}
i {
    cursor: pointer;
}
img {
    cursor: pointer;
}
.bg-light {
    background-color: #eeeeee !important;
}
.bg-unset {
    background-color: unset !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">" !important;
}

.border-primary {
    border-color: #004f71 !important;
}
.fs-1-2 {
    font-size: 1.2rem !important;
}
select:focus {
    box-shadow: unset !important;
    outline: solid 2px #fff !important;
    border: 0 !important;
}

.rounded-10 {
    border-radius: 10px !important;
}
.text-decoration-underline {
    text-decoration: underline !important;
}
.h-60 {
    height: 60% !important;
}
.fs-3x {
    font-size: 3rem !important;
}
.fs-8x {
    font-size: 8rem !important;
}

#actualidadFiltro,
#eventosFiltros,
#expHVFiltro,
#expSearchHVFiltro {
    .form-control:focus,
    .form-control:hover {
        outline: solid 2px #004f71 !important;
    }
}

.breadcrumb-item {
    a {
        color: #1b74af !important;
    }
}
.breadcrumb-item + .active {
    color: #000000 !important;
}
#navbarsExample04 {
    a:focus,
    a:hover {
        outline: solid 2px #004f71 !important;
        text-decoration: underline !important;
    }
}

#header .menu-200 {
    font-size: 10px !important;
    padding: 0;
    margin: 0;
}
#header .pd-200 {
    padding: 5px 0 !important;
}
#header .pd-300 {
    padding: 3px 0 !important;
}
#header .pd-400 {
    padding: 1px 0 !important;
}
#header .pd-500 {
    padding: 0px 0 !important;
}
.menu-top-200 {
    top: -219px !important;
}
.menu-top-300 {
    top: -194px !important;
}
.menu-top-400 {
    top: -194px !important;
}
.menu-top-500 {
    top: -181.5px !important;
}
.scale-200 {
    transform: scale(0.7);
}
.scale-300 {
    transform: scale(0.6, 0.5);
}
.scale-400 {
    transform: scale(0.6, 0.5);
}
.scale-500 {
    transform: scale(0.5, 0.4);
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#div-video {
    border: 2px solid #004f71 !important;
}
