#datos_impacto
{
    a:focus,a:hover 
    {
        outline: solid 2px #004F71 !important;
        text-decoration: underline !important;
    }
    h2 
    {
        font-size: 2rem !important;
        font-weight: bold !important;
        color: #004F71 !important;
    }
    h3
    {
        font-size: 0.90rem !important;
        font-weight: 400 !important;
    }
    p 
    {
        font-size: 0.90rem !important;
        font-weight: 400 !important;
        color: #1B74AF !important;
    }
    .border-datos
    {
        font-size: 1.5rem !important;
        color: #1B74AF !important;
        border: solid 6px #E35205 !important;
        position: relative;
        width: 150px;
        height: 150px;
        div
        {
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            width: 100%;
        }
    }
    .link-di
    {
        font-size: 0.90rem !important;
        text-decoration: underline !important;
    }
}