.eventosIndex, 
.eventosShow, 
.eventosSearch
{
    h1,h2
    {
        font-weight: bold;
       
    }
    h2 
    {
        color: #004F71 !important;
        font-size: 1.2rem;
    }
    a:focus, a:hover 
    {
        outline: solid 2px #004F71 !important;
        text-decoration: underline !important;
    }
    .card
    {
        background: unset !important;
        border: 0 !important;
        figure 
        {
            border: 10px solid #004F71 !important;
        }
        .card-body
        {
            background-color: #EEEEEE !important;
        }
        p
        {
            color: #1B74AF !important;
        }
    }
}
.eventosIndex{
    h1{
        color: #004F71 !important; 
    }
    
}
.eventosShow
{
    #expositores p
    {
        color: #1B74AF !important; 
    }
    h3{
        font-size:1.1rem; 
    }
}
#eventosContenido,#eventosSearchContenido
{
    .card-body .btn-calendario 
    {
        border: 0 !important;
        background: unset !important;
    }
    .btn-calendario:focus, .btn-calendario:hover 
    {
        outline: solid 2px #004F71 !important;
    }
    a:focus, a:hover 
    {
        outline: solid 2px #004F71 !important;
        text-decoration: none !important;
    }
    figure 
    {
        border-radius: 10px !important;
    }
}
#eventosContenido
{
    h2 
    {
        color: #004F71 !important;
    }
    button 
    {
    border-radius: 10px !important;
    }
}