.expShowHV, 
.expIndexHV
{
    h1,h2
    {
        font-weight: bold;
    }
    h2
    {
        color: #004F71 !important; 
        font-size: 1.2rem;
    }
    a:focus, a:hover 
    {
        outline: solid 2px #1B74AF !important;
        text-decoration: underline !important;
    }
    .card
    {
        background: unset !important;
        border: 0;
        h5
        {
            color: #004F71 !important;
            font-size: 1.25rem;
            font-weight: bold !important;
        }
        p 
        {
            color: #004F71 !important;
            border-bottom: solid 2px #004F71;
        }
    }
}
.expIndexHV{
    h1,h2
    {
        color: #004F71 !important;
    }
}
#expHVContenido
{
    h2 
    {
        font-size: 1rem;
    }
}
.expSearchHV
{
    h1,h2,h3
    {
        font-weight: bold !important;
    }
    background-color: #6A2A5B !important;
    .container 
    {    
        color: #fff !important;
    }
   
    a:focus, a:hover 
    {
        outline: solid 2px #fff;
        text-decoration: underline !important;
    }
    h5
    {       
        font-size: 1.25rem;
        font-weight: bold !important;
    }
    #expRes p:first-child 
    {
        
        border-bottom: solid 2px #fff !important;
    }
    #expRes img 
    {
        border-bottom: solid 4px #fff !important;
        border-right:  solid 4px #fff !important;
    }
    .border
    {
        border: unset !important;
        border-bottom: solid 2px #fff !important;
    }
}
#expSearchHV{
    a:focus, a:hover {
        outline: solid 2px #1B74AF !important;
        text-decoration: underline !important;
    }
   
}
.expPI 
{
    h1 
    {
        font-weight: bold !important;
    }
    #practicas
    {
        h3 {
            color: #004F71 !important;
        font-weight: bold !important;
        }
        
        li 
        {
            list-style-type: none;
        }
    }
    p,h2 
    {
        color:#1B74AF !important; 
    }
    a:hover, a:focus 
    {
        outline: solid 2px #1B74AF !important;
        text-decoration: underline !important;
    }
}
.expIndex
{
    h1,h2
    {
        color: #004F71 !important;
        font-weight: bold !important;
    }
    h2 
    {
        font-size: 1.2rem;
    }
    h3,p 
    {
        color:#1B74AF !important; 
    }
    a:focus, a:hover 
    {
        outline: solid 5px #1B74AF !important;
        text-decoration: underline !important;
    }
    .card
    {
        border: solid 2px#1B74AF !important;
    }

}
#exp
{
    a:focus, a:hover 
    {
        outline: solid 2px #1B74AF !important;
        text-decoration: underline !important;
    }
}

@media screen and (min-width:768px)
{
    #expHVContenido
    {
        h2 
        {
            font-size: 2rem;
        }
    }
    #expContenido
    {
        h2 
        {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width:1200px)
{
    #expHVContenido
    {
        h2 
        {
            font-size: 3rem;
        }
    }
}