.filtro
{
    h1,h2
    {
        font-weight: bold;
        color: #004F71 !important;
    }
    h2
    {
        color: #004F71 !important; 
        font-size: 1.2rem;
    }
    a:focus, a:hover 
    {
        outline: solid 2px #004F71 !important;
        text-decoration: underline !important;
    }
    .card
    {
        background: unset !important;
        border: 0;
        h5
        {
            color: #004F71 !important;
            font-size: 1.25rem;
            font-weight: bold !important;
        }
        p 
        {
            color: #004F71 !important;
            border-bottom: solid 2px #004F71;
        }
    }
}
