header {
    a {
        color: unset;
    }
    bottom: 0 !important;
    padding: 0 !important;
    z-index: 1 !important;
    .collapse {
        position: absolute;
        top: -338px;
        background: #fff !important;
        width: 100%;
        left: 0;
        padding: 10px;
        text-align: center;
    }
    .navbar-toggler {
        font-size: 1.8em !important;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(27,116,175)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
    .navbar-nav .nav-link {
        font-size: 1rem;
        line-height: 33px;
        font-weight: bold;
        color: #1b74af !important;
    }

    input:focus {
        box-shadow: unset !important;
    }
    .navbar-filtro {
        display: none;
    }
    #li-sm {
        .skip-main {
            left: -999px;
            position: absolute;
            top: 20px;
            width: 1px;
            height: 1px;
            overflow: hidden;
            z-index: -999;
            color: #6a2a5b;
            background-color: #eeeeee;
            text-decoration: none !important;
            outline: solid 2px #6a2a5b !important;
        }
    }

    button .fa-times {
        font-size: 2.8rem;
    }
    #logo-mobile {
        border-bottom: solid 4px #004f71;
    }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
    .position-md-static {
        position: static !important;
    }
    header {
        .collapse {
            position: static !important;
            background: unset !important;
            padding: unset !important;
            width: unset !important;
            text-align: left !important;
        }
        .navbar {
            box-shadow: 0px 5px 6px #b3b1b1ea, 0px 19px 2px 17px #eee;
            border-bottom-right-radius: 25px;
            border-bottom-left-radius: 25px;
        }
    }
}

@media screen and (min-width: 992px) {
    header {
        .navbar-nav a {
            font-size: 1.1rem !important;
        }
        #div-search:hover,
        .outline {
            outline: solid 2px #1b74af !important;
        }
        li:hover,
        .navbar a:focus-visible {
            outline: solid 2px #004f71 !important;
            text-decoration: underline !important;
        }
        li:hover {
            color: #1b74af !important;
        }
        #li-sm {
            .skip-main:focus {
                left: 0;
                top: auto;
                width: 25%;
                height: auto;
                font-size: 14px;
                text-align: center;
                z-index: 2000;
                text-decoration: none !important;
            }
        }

        nav {
            width: 100%;
            .navbar-filtro {
                display: flex !important;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: center;
                background: #004f71 !important;
                padding-top: 2px;
                li {
                    list-style-type: none !important;
                }
                li button {
                    font-weight: bold;
                    background: unset !important;
                    border: unset !important;
                    i {
                        font-size: 1.4rem;
                    }
                }
            }
        }
        .navbar-filtro li:hover,
        button:focus {
            outline: solid 2px #fff !important;
            text-decoration: none !important;
        }
    }
}

@media screen and (min-width: 1200px) {
    header {
        .navbar-nav a {
            font-size: 1.5rem !important;
        }
    }
}
