.estilo-1 {
    h1,
    h2 {
        color: #004f71;
        font-weight: bold !important;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        color: #1b74af;
    }
    a:focus,
    a:hover {
        outline: solid 2px #004f71 !important;
        text-decoration: underline !important;
    }
    p {
        color: rgb(8, 7, 7);
    }
}
.titulo_texto_link {
    h1,
    h2 {
        color: #004f71;
        font-weight: bold !important;
    }
    p {
        color: #004f71;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        color: #1b74af;
    }
    a:focus,
    a:hover {
        outline: solid 2px #004f71 !important;
        text-decoration: underline !important;
    }
}
.imagen-titulo-link-1 {
    h1,
    h2 {
        font-weight: bold !important;
    }
    a:focus,
    a:hover {
        outline: solid 2px #004f71 !important;
        text-decoration: underline !important;
    }
    h2,
    p,
    h5,
    h1 {
        color: #004f71;
    }
    #tematicas h5 {
        color: rgb(8, 7, 7) !important;
    }
}
.estilo-2,
.imagen-titulo-link-2,
.titulo-texto-imagen {
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h1,
    h2,
    h5,
    .titulo {
        font-weight: bold !important;
    }
    a:focus,
    a:hover {
        outline: solid 2px #004f71 !important;
        text-decoration: underline !important;
    }
    .titulo {
        color: #004f71;
        font-size: 1.2rem;
    }
    h3,
    p,
    h5 {
        color: #004f71;
    }

    .docRec {
        background-color: #e35205;
        h2,
        h3,
        p,
        h5 {
            color: #fff !important;
        }
        a {
            text-decoration: underline !important;
        }
    }
    .referencia {
        background-color: #5bc2e7;

        h5 {
            color: #004f71;
        }
        a {
            color: rgb(8, 7, 7);
            text-decoration: underline !important;
        }
        .link-p {
            color: rgb(8, 7, 7);
        }
    }
}
.lista-imagen-titulo-texto-1 {
    h1 {
        font-weight: bold !important;
    }
    #practicas {
        h3,
        a,
        a:link,
        a:visited,
        a:hover {
            color: #004f71;
            font-weight: bold !important;
        }

        li {
            list-style-type: none;
        }
    }
    p,
    h2 {
        color: #1b74af;
    }
    a:hover,
    a:focus {
        outline: solid 2px #004f71 !important;
        text-decoration: underline !important;
    }
}
@media screen and (min-width: 992px) {
    .estilo-2,
    .imagen-titulo-link-2,
    .titulo-texto-imagen {
        .docRec {
            color: #fff !important;
            background-color: #e35205;

            .border-dr {
                border-bottom: unset !important;
                border-right: solid 2px #fff !important;
            }
        }
    }
}
